@import "tailwindcss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    @apply flex flex-col items-center justify-between;
    @apply bg-dark-base;
    @apply text-dark-text;
}

.header-item {
    @apply h-8;
    @apply border-b-2 border-transparent;
    @apply text-center;
    @apply transition delay-100 duration-200 ease-in-out;
    @apply hover:border-b-dark-iris hover:text-dark-text;
}

.header-item-selected {
    @apply border-b-dark-iris text-dark-text;
}

.project-card {
    height: 7.5rem;
    width: 37.5rem;
    border-radius: 0.5rem;
    transition: scale 0.3s;
    @apply bg-dark-overlay hover:scale-106;
    @apply shadow-lg/15;
}

/* -------------------- Animations -------------------- */

@keyframes float_in_bottom {
    0% {
        transform: translateY(12px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float_in_top {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes card_fade_in {
    0% {
        transform: translateY(-12px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.name-float-in {
    opacity: 0;
    animation-name: float_in_bottom;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.about-me-float-in {
    opacity: 0;
    animation-name: float_in_bottom;
    animation-delay: 0.9s;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.header-float-in {
    opacity: 0;
    animation-name: float_in_top;
    animation-delay: 1.6s;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.footer-float-in {
    opacity: 0;
    animation-name: float_in_bottom;
    animation-delay: 1.6s;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.card-float-in {
    opacity: 0;
    animation-name: float_in_top;
    animation-delay: 0.1s;
    animation-duration: 0.35s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* From: https://rosepinetheme.com/palette/ */
@theme {
    --color-dark-base: #191724;
    --color-dark-surface: #191724;
    --color-dark-overlay: #26233a;
    --color-dark-muted: #6e6a86;
    --color-dark-subtle: #908caa;
    --color-dark-text: #e0def4;
    --color-dark-love: #eb6f92;
    --color-dark-gold: #f6c177;
    --color-dark-rose: #ebbcb9;
    --color-dark-pine: #31748f;
    --color-dark-foam: #9ccfd8;
    --color-dark-iris: #c4a7e7;
    --color-dark-highlight-low: #21202e;
    --color-dark-highlight-med: #403d52;
    --color-dark-highlight-high: #524f67;

    --color-light-base: #faf4ed;
    --color-light-surface: #fffaf3;
    --color-light-overlay: #f2e9e1;
    --color-light-muted: #9893a5;
    --color-light-subtle: #797593;
    --color-light-text: #575279;
    --color-light-love: #b4637a;
    --color-light-gold: #ea9d34;
    --color-light-rose: #d7827e;
    --color-light-pine: #286983;
    --color-light-foam: #56949f;
    --color-light-iris: #907aa9;
    --color-light-highlight-low: #f4ede8;
    --color-light-highlight-med: #dfdad9;
    --color-light-highlight-high: #cecacd;
}
